//***************************
//Center last grid theme__color
//***************************
@mixin center {
  display: block;
  margin: auto;
}

//***************************
//media query mixins
//***************************
@mixin mobilesize{
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:$desktop-breakpoint) {
  @content;
    }

}

//***************************
//Grid theme colors
//***************************

@mixin themecolors ($color){
  &theme__colors{
    background-color: map-get($themes, $color);
  }
}
