%btn {
  padding: .5em .7em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  &:hover{
    opacity: 0.8;
  }
}

%link {
  text-decoration: none;
  border-radius: .2em;
  &:hover{
      color: $color-primary;
      background-color: $color-branding;
      width: 100%;

    }

}
%transform{
  &:hover{
    transition-property: border-left;
    transform: scale(1.1);
    transition-duration: 1s;
  }
}
