//***************************
// Main Color variables
//***************************
  $color-primary: #fff; //set the background color for the container(main)
  $color-text: #848d90;
  $color-branding: #7bfea2;
  $color-button-default: #7bb2fe;

//***************************
// Buttons Colors Map
//***************************

 $buttons:(
  default :#848d90,
  success :#20f85e,
  error  :#c97878,
  warning :#ff7438,
  info    :#a568a6
 );

 //***************************
 //Grid themes colors
 //***************************
 $themes: (
    '3' :#ed81ef ,
    '12':#98e2a1,
    '4' :#90f7fe,
    '6' :#3fa6ab,
    '5' :#69ec95,
    '7' :#ef8181,
    '8' :#ffa280
 );
 //***************************
 //breakpoint size
 //***************************

 $mobile-breakpoint:   768px;
 $desktop-breakpoint:  769px;

 //***************************
 // Grids
 //***************************.

 $g-col-width     : 65px;
 $g-gutter-width  : 20px;
 $g-col-count     : 12;
 $g-cont-max-w    : 1050px;
