.form{

  @include mobileflex;
margin-top: 2em;
.form__label--hidden{
      display: none;
    }
    .form__input{
      border: none;
      border-bottom: 3px solid $Color_branding;
      margin-bottom: 1em;
      padding:.5em;
    }
    button {
      @include button;
    }

}
