
.img--logo{
  @include mobilesize{
    align-self: center;
    display: block;
    margin: auto;
  }

}

.img--avatar{
  margin: auto;
  @include desktop{
    margin-right: 2em;
  }
  @include mobilesize{
    @include center;
  }
    @extend %transform;
}

.img--frame{
  padding: 1em;
  width: 90%;
  margin: auto;
  border: 1px solid;
  @include desktop{

  }
  @include mobilesize{
      margin-bottom: 1em;
  }
  @extend %transform;
}
