.container{
  background-color: $color-primary;
  color: $color-text;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  min-width: 320px;
  max-width: 1400px;
  font-family: 'Muli', sans-serif;
}

.grid__row {
   display: flex;
   width: 100%;
   margin-top: .5em;
   @include mobilesize {
     flex-direction: column;
     justify-content: center;
     }
     @include desktop{
       flex-direction: row;
       justify-content: space-between;
       flex-wrap: nowrap;
     }
}
