// ==================
//
//===================
.nav__item{
  @extend %nav__item;
      & a{
          @extend %a;
            display: block;
            color: $color_text;
            padding: .5em .7em;
            border-radius: 0.2em;
            text-align: center;

      }
      & a:hover{
          background-color: $Color_branding;
          color: $color_primary;
          transition-property: background-color;
          transition-duration: 1s;
          // transition-delay: .1s;
          transition-timing-function: ease-out;
      }

}
